.movies-page {
    padding: 0 70px 0;
    display: flex;
    flex-direction: column;
}

.movies__not-found {
    text-align: center;
  }

@media screen and (max-width: 470px) {
    .movies-page {
        padding: 0 10px 0;
    }
}